body {
  font-family: sans-serif;
}

article {
  border: 5px solid #000;
}

/*Exercice*/

article h1{
  position :relative;
}

article h1::before{
  position:absolute;
  left:-2rem;
  top: -1rem;
  background-color: red;
  font-size: small;
  color: #fff;
  content: "SALE";
  padding: 0.5rem 1rem;
}





.color-squares {
  margin-bottom: 20px;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.color.black {
  background: black;
}

.color.blue {
  background: blue;
}

.color.red {
  background: red;
}

.color.yellow {
  background: yellow;
}

.color.green {
  background: green;
}

.color.brown {
  background: brown;
}


/*Fin exercice*/



h1 {
  text-align: center;
  background-color: rgb(192, 189, 189);
  margin: 0;
  padding: 16px;
}

img {
  width: 300px;
  height: 300px;
}

#price {
  font-size: 20px;
  margin: 0;
}

.delivery {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: rgb(192, 189, 189);
  margin: 0;
}

.description {
  margin-bottom: 0;
}

a:link,
a:visited {
  color: #000;
}

div:last-of-type {
  margin-top: 50px;
}

ul {
  list-style: square;
  padding-left: 14px;
}

li {
  margin-bottom: 16px;
}

button {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 14px;
  border: none;
}

main{
  width: 800px;
  margin: auto;
}
