*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-header{
    position: relative;
    padding-top: 8rem;
}

.post-header::before{
  content: "2-Jazzy";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #070766;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
    text-transform: uppercase;
    text-align: center;
   
}

.intro p{
    text-align: center;
    margin-top: 2rem;
}

.album {
    background-color: #070766;
    margin: 5rem auto 5rem auto;
    padding: 1rem;
    width: 50rem;
    height: 25rem;
  }
  
  .cover {
    height: 16rem;
    width: auto;
    order: 1;
  }


  .about{
    display: flex;
    flex-direction: column;
  }

  .about h2, .about h3{
    color: yellow;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .about p{
    color: white;
  }


  .clearfix {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  img{
    height: 5rem;
    width: auto;
    margin: 0.4rem;
  }

  footer{
    background-color: rgb(7, 7, 102);
    padding: 2rem;
    text-align: center;
    color: white;
  }